* {
    text-decoration: none;
    overflow: hidden;
    font-family: 'rubiklight';
}

/*FONTS*/


@font-face {
    font-family: 'rubiklight';
    src: url('../fonts/Rubik-light/rubik-light-webfont.woff2') format('woff2'),
         url('../fonts/Rubik-light/rubik-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'rubikregular';
    src: url('../fonts/Rubik-regular/rubik-regular-webfont.woff2') format('woff2'),
         url('../fonts/Rubik-regular/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #0E1323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;

}

.attribution {
    color: white;
}

.container {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
}

.name-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1C204B;
    border-radius: 15px;
    height: 100%;
}

.name-card-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #5747EA;
    border-radius: 15px;
}

#profilPhoto {
    width: 78px;
    height: 78px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.name-card-top-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin-left: 40px;
}

#report {
    font-family: 'rubiklight';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 7px;
    color: #BBC0FF;
    
}

.name-card-top-text h1 {

    font-family: 'rubiklight';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    margin-top: 0px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.name-card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1C204B;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
}

/*.name-card-bottom p {
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}*/

#daily {
    color: #7078C9;
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    height: 20px;
}

#weekly {
    color: white;
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    height: 20px;

}

#monthly {
    color: #7078C9;
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 18px;
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    height: 20px;

}

#daily:hover {
    color: white;
    cursor: pointer;
}

#weekly:hover {
    color: white;
    cursor: pointer;
}


#monthly:hover {
    color: white;
    cursor: pointer;
}

.container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
}

.container-left-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45%;
}

.container-left-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45%; 
}

svg {
    position: relative;
    height: 15%;
    right: 15px;
}

#worksvg {
    position: relative;
    top: 7px;
}

#playsvg {
    position: relative;
    bottom: 7px;
}

#studysvg {
    position: relative;
    bottom: 7px;
}

#exercisesvg {
    position: relative;
    bottom: 7px;
}

#socialsvg {
    position: relative;
    bottom: 7px;
}

#selfcaresvg {
    position: relative;
    bottom: 7px;
}

.work {
    width: 30%;
    height: 100%;
    background-color: #FF8B64;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
}

.play {
    width: 30%;
    height: 100%;
    background-color: #55C2E6; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}

.study {
    width: 30%;
    height: 100%;
    background-color: #FF5E7D; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}

.exercise {
    width: 30%;
    height: 100%;
    background-color: #4BCF82;  
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}

.social {
    width: 30%;
    height: 100%;
    background-color: #7335D2; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}

.selfcare {
    width: 30%;
    height: 100%;
    background-color: #F1C75B;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}

.menu {
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.oval {
    width: 5px;
    height: 5px;
    background-color: #BBC0FF;
    border-radius: 15px;
}


.work-data {
    background-color: #1C204B;
    height: 80%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.work-data-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

/*.work-data-top p {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
}*/

#workname {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 14px;
}

#playname {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 14px;
}

#studyname {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 14px;
}

#exercisename {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 14px;
}

#socialname {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 14px;
}

#selfcarename {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
    margin-top: 14px;
    margin-bottom: 14px;
}

.work-data-bottom {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.work-data-bottom h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    margin: 0px 0px;
    color: #FFFFFF;
}

.work-data-bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #BBC0FF;
}

.workbefore {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 8px;
    line-height: 18px;
    color: #BBC0FF;
}

.playbefore {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #BBC0FF;
}

.studybefore {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #BBC0FF;
}

.exercisebefore {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #BBC0FF;
}

.socialbefore {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #BBC0FF;
}

.selfcarebefore {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #BBC0FF;
}

.play-data {
    background-color: #1C204B;
    height: 80%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.play-data-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;

}

.play-data-top p {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
}

.play-data-bottom {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.play-data-bottom h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    margin: 0px 0px;
    color: #FFFFFF;
}

.play-data-bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #BBC0FF;
}

.study-data {
    background-color: #1C204B;
    height: 80%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.study-data-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;

}

.study-data-top p {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
}

.study-data-bottom {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.study-data-bottom h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    margin: 0px 0px;
    color: #FFFFFF;
}

.study-data-bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #BBC0FF;
}

.exercise-data {
    background-color: #1C204B;
    height: 80%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.exercise-data-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;

}

.exercise-data-top p {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
}

.exercise-data-bottom {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.exercise-data-bottom h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    margin: 0px 0px;
    color: #FFFFFF;
}

.exercise-data-bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #BBC0FF;
}

.social-data {
    background-color: #1C204B;
    height: 80%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-data-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;

}

.social-data-top p {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
}

.social-data-bottom {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.social-data-bottom h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    margin: 0px 0px;
    color: #FFFFFF;
}

.social-data-bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #BBC0FF;
}

.selfcare-data {
    background-color: #1C204B;
    height: 80%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.selfcare-data-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;

}

.selfcare-data-top p {
    margin-left: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    font-family: 'rubikregular';
    color: #FFFFFF;
}

.selfcare-data-bottom {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.selfcare-data-bottom h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    margin: 0px 0px;
    color: #FFFFFF;
}

.selfcare-data-bottom p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #BBC0FF;
}



.work-data:hover {
    background-color: #33397A;
    cursor: pointer;
}

.play-data:hover {
    background-color: #33397A;
    cursor: pointer;
}

.study-data:hover {
    background-color: #33397A;
    cursor: pointer;
}

.exercise-data:hover {
    background-color: #33397A;
    cursor: pointer;
}

.social-data:hover {
    background-color: #33397A;
    cursor: pointer;
}

.selfcare-data:hover {
    background-color: #33397A;
    cursor: pointer;
}

h1 {
    display: flex;
}

/*Responsive*/

@media (max-width: 1320px) and (min-width: 1195px) {

}


@media (max-width: 1195px) {
    * {
        overflow-y: scroll;
    }

    p {
        margin: 0px 0px 0px 0px;
        width: 0px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        width: 96%;
    }

    .container-right {
        width: 100%;
        align-items: center;
    }

    .container-left {
        justify-content: flex-start;
    }

    .name-card {
        width: 100%;
    }

    .name-card-top {
        width: 100%;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
    }

    .name-card-bottom {
        flex-direction: row;
    }

    #monthly {
        margin-left: 0px;
        margin-right: 40px;
    }

    #weekly {
        margin-left: 0px;
        color: white;
    }

    .container-left {
        height: 1200px;
        width: 100%;
    }

    .container-left-top {
        display: flex;
        flex-direction: column;
    }

    .work {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .play {
        width: 100%;
        margin-bottom: 20px;

    }

    .study {
        width: 100%;
        margin-bottom: 20px;

    }

    .container-left-bottom {
        display: flex;
        flex-direction: column;
    }

    .exercise {
        width: 100%;
        margin-bottom: 20px;

    }

    .social {
        width: 100%;
        margin-bottom: 20px;

    }

    .selfcare {
        width: 100%;
        margin-bottom: 20px;

    }

    .menu {
        width: 5%;
    }

    .work-data-bottom h1 {
        font-size: 36px;
        overflow: hidden;
    }

    .work-data-bottom p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .play-data-bottom h1 {
        font-size: 36px;
        overflow: hidden;
    }

    .play-data-bottom p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .study-data-bottom h1 {
        font-size: 36px;
        overflow: hidden;
    }

    .study-data-bottom p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .exercise-data-bottom h1 {
        font-size: 36px;
        overflow: hidden;
    }

    .exercise-data-bottom p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .social-data-bottom h1 {
        font-size: 36px;
        overflow: hidden;
    }

    .social-data-bottom p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .selfcare-data-bottom h1 {
        font-size: 36px;
        overflow: hidden;
    }

    .selfcare-data-bottom p {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media (max-width: 450px) {
    p {
        margin: 0px 0px 0px 0px;
        width: 0px;
    }

    .name-card-top {
        align-items: center;
    }

    #profilPhoto {
        height: 61px;
        margin-top: 20px;

    }

    .name-card-top-text {
        font-size: 10px;
        margin-top: 20px;
    }

    .name-card-top-text h1 {
        font-size: 22px;
    }

    .work-data-bottom h1 {
        font-size: 30px;
        overflow: hidden;
    }

    .workhours {
        font-size: 30px;
        overflow: hidden;
    }


    .playhours {
        font-size: 30px;
        overflow: hidden;
    }

    .studyhours {
        font-size: 30px;
        overflow: hidden;
    }

    .exercisehours {
        font-size: 30px;
        overflow: hidden;
    }

    .socialhours {
        font-size: 30px;
        overflow: hidden;
    }

    .selfcarehours {
        font-size: 30px;
        overflow: hidden;
    }

    .workbefore {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .playbefore {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .studybefore {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .exercisebefore {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .socialbefore {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .selfcarebefore {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .play-data-bottom h1 {
        font-size: 30px;
        overflow: hidden;
    }

    .play-data-bottom p {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .study-data-bottom h1 {
        font-size: 30px;
        overflow: hidden;
    }

    .study-data-bottom p {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .exercise-data-bottom h1 {
        font-size: 30px;
        overflow: hidden;
    }

    .exercise-data-bottom p {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .social-data-bottom h1 {
        font-size: 30px;
        overflow: hidden;
    }

    .social-data-bottom p {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .selfcare-data-bottom h1 {
        font-size: 30px;
        overflow: hidden;
    }

    .selfcare-data-bottom p {
        font-size: 10px;
        margin-bottom: 8px;
    }
}